<div class="app-menu">
  <ul>
    <li class="menu-item">
      <a href="/">Home</a>
    </li>
    <li class="menu-item">
      <a ui-sref="hunts">My Hunts</a>
    </li>
    <li class="menu-item">
      <a ui-sref="/search">Find a Hunt</a>
    </li>
    <li class="menu-item" ng-show="userObj.isLoggedIn">
      <a ng-click="model.logout()">Logout</a>
    </li>
  </ul>
</div>
