<h1>{{model.clue.title}}</h1>

<div class="panel panel-default">
  <div class="panel-body">
    <img ng-src="{{model.clue.imageFullUrl}}" alt="{{model.clue.title}}" />
    <h4>{{model.clue.title}}</h4>
    <p>{{model.clue.text}}</p>
  </div>
</div>
