<h1>{{model.hunt.title}}</h1>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="col-sm-4 col-md-3 clues" ng-repeat="clue in model.hunt.clues">
      <a ui-sref="app.home.hunt.clue({huntId:model.hunt.huntId, clueId:clue.clueId})" class="thumbnail">
        <img ng-src="{{clue.thumbnail}}" alt="{{clue.title}}" />
        <h4>{{clue.title}}</h4>
        <p>{{clue.text}}</p>
      </a>
    </div>
  </div>
</div>
