<div class="panel panel-default">
  <div class="panel-heading">Recent Conquests</div>
  <div class="panel-body">
    <div class="col-sm-4 col-md-3" ng-repeat="hunt in model.hunts">
      <a class="thumbnail" ui-sref="app.home.hunt({huntId: hunt.huntId})">
        <img ng-src="{{hunt.thumbnail}}" alt="{{hunt.title}}" />
        <div class="caption">
          {{hunt.title}}
          <span class="badge">{{hunt.clues.length}} clues</span>
        </div>
      </a>
    </div>
  </div>
</div>
