<div class="col-sm-6 col-md-6 col-md-offset-3">
  <div class="panel panel-default">
    <div class="panel-body">
      <form id="login" ng-submit="auth.login(auth.username, auth.password)">
        <label>Username: <input type="text" ng-model="auth.username"/></label><br/>
        <label>Password: <input type="password" ng-model="auth.password"/></label><br/>
        <button type="submit">Login</button>
      </form>
    </div>
  </div>
</div>
