<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <div class="app-menu">
        <ul>
          <li class="menu-item">
            <a href="/">Home</a>
          </li>
          <li class="menu-item">
            <a ui-sref="hunts">My Hunts</a>
          </li>
          <li class="menu-item">
            <a ui-sref="/search">Find a Hunt</a>
          </li>
          <li class="menu-item" ng-show="userObj.isLoggedIn">
            <a ng-click="model.logout()">Logout</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <div class="container-fluid">
        <div class="row">
          <div class="home-view" ui-view="auth-view"></div>
        </div>
      </div>
    </div>
  </div>
</div>
